.gradle/
.idea/
build/
target/
libs/
__pycache__/
.DS_Store
.clang
*.iml
.ipynb_checkpoints
*.gz
*.params
*.zip
*.jar
*.so
*.dylib
*.dll
*.class
*.log
*.onnx
*.pt
*.safetensors
*.pb
*.trt
*.uff
*.gguf
*.xgb
*.bin
*.wav

# Eclipse
.settings
.project
.classpath
bin/

#node
node_modules/
**/static/dist/

#vscode
.vscode

merges.txt
special_tokens_map.json
tokenizer.json
tokenizer_config.json
vocab.json
vocab.txt

