[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = A junk yard repository to store temporary projects
[access "refs/*"]
	owner = group user/Frank Liu (frankfliu)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Frank Liu (frankfliu)
	label-Verified = -1..+1 group user/Frank Liu (frankfliu)
	push = group user/Frank Liu (frankfliu)
	read = group user/Frank Liu (frankfliu)
	rebase = group user/Frank Liu (frankfliu)
	removeReviewer = group user/Frank Liu (frankfliu)
	submit = group user/Frank Liu (frankfliu)
[access "refs/heads/*"]
	create = group user/Frank Liu (frankfliu)
	push = +force group user/Frank Liu (frankfliu)
	pushMerge = group user/Frank Liu (frankfliu)
	read = group user/Frank Liu (frankfliu)
[access "refs/tags/*"]
	push = group user/Frank Liu (frankfliu)
	push = +force group user/Frank Liu (frankfliu)
